body {
    background-color: white !important;

}

.logo {
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
}

.search .searchBar {
    width: 350px;
}

.btnSearch
{
    background: black;
}

.btnSearch:hover
{
    background: gray;
}


.btnTaiKhoan a:hover {
    text-decoration: none;
    color: gray !important;
}

.btnGioHang a {
    text-decoration: none;
    color: #fff !important;
    font-weight: bold;
    font-size: 17px;
}

.btnGioHang a:hover {
    text-decoration: none;
    color: gray !important;
}

.menu ul li a{
    text-decoration: none;
    color: white !important;
    font-weight: bold;
    font-size: 17px;
}

.menu ul li a:hover{
    text-decoration: none;
    color: gray !important;
    background: dark;
}

@media(max-width: 991px) {
    .search .searchBar {
        width: 250px;
    }

    .btnTaiKhoan a:hover {
        text-decoration: none;
        color: gray !important;
    }

    .btnGioHang
    {
        margin-bottom: 20px;
    }

    .btnGioHang a {
        text-decoration: none;
        color: #fff !important;
        font-weight: bold;
        font-size: 17px;
    }

    .btnGioHang a:hover {
        text-decoration: none;
        color: gray !important;
    }

}

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.theloaiFilter
{
    font-size: 17.5px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.theloaiFilter:hover
{
    text-decoration: none;
    color: gray !important;
}

.sanphamName
{
    text-decoration: none;
    color: black;
}

.sanphamName:hover
{
    text-decoration: none;
    color: gray !important;
}

.theloaiTitle
{
    text-decoration: none;
    font-size: 28px !important;
    color: black;
    font-family: monospace;
}

.theloaiTitle:hover
{
    text-decoration: none;
    color: gray !important;
}

.btn-square-md {
    width: 150px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 150px !important;
    text-align: center;
    padding: 0px;
    font-size: 23px
}

.btn-square-md a:hover{
    color: white;
}

/* Style the stars */
.clear {
    float: none;
    clear: both;
  }

  .rating {
      unicode-bidi: bidi-override;
      direction: rtl;
  }

  .rating > label {
      padding: 0 !important;
      margin: 0 !important;
      cursor: pointer;
      color: #000;
      width: 1.7em;
  }

  .rating > label:hover,
  .rating > label:hover ~ label,
  .rating > input.radio-btn:checked ~ label {
      color: transparent;
  }

  .rating > label:hover:before,
  .rating > label:hover ~ label:before,
  .rating > input.radio-btn:checked ~ label:before,
  .rating > input.radio-btn:checked ~ label:before {
      content: "\2605";
      color: #FFD700;
  }


  .star_full {
      content: "\2606";
      color: #FFD700;
  }

  .comment {
    color:  #212121;
  }

  .starhide {
    display: none;
  }

  .therating {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .starlabel {
      padding: 0 !important;
      margin: 0 !important;
  }


  .review-list ul li .left span {
    width: 32px;
    height: 32px;
    display: inline-block;
}
.review-list ul li .left {
    flex: none;
    max-width: none;
    margin: 0 10px 0 0;
}
.review-list ul li .left span img {
    border-radius: 50%;
}
.review-list ul li .right h4 {
    font-size: 16px;
    margin: 0;
    display: flex;
}
.review-list ul li .right h4 .gig-rating {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: #ffbf00;
}
.review-list ul li .right h4 .gig-rating svg {
    margin: 0 4px 0 0px;
}

.review-list ul li {
    border-bottom: 1px solid #dadbdd;
    padding: 0 0 15px;
    margin: 0 0 15px;
}
.review-list ul li .right {
    flex: auto;
}
.review-list ul li .review-description {
    margin: 20px 0 0;
}
.review-list ul li .review-description p {
    font-size: 14px;
    margin: 0;
}
.review-list ul li .publish {
    font-size: 13px;
    color: #95979d;
}

.review-section h4 {
    font-size: 20px;
    color: #222325;
    font-weight: 700;
}
.review-section .stars-counters tr .stars-filter.fit-button {
    padding: 6px;
    border: none;
    color: #4a73e8;
    text-align: left;
}
.review-section .fit-progressbar-bar .fit-progressbar-background {
    position: relative;
    height: 8px;
    background: #efeff0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
   ;
    border-radius: 999px;
}
.review-section .stars-counters tr .star-progress-bar .progress-fill {
    background-color: #ffb33e;
}
.review-section .fit-progressbar-bar .progress-fill {
    background: #2cdd9b;
    background-color: rgb(29, 191, 115);
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    border-radius: 999px;
}
.review-section .fit-progressbar-bar {
    display: flex;
    align-items: center;
}
.review-section .stars-counters td {
    white-space: nowrap;
}
.review-section .stars-counters tr .progress-bar-container {
    width: 100%;
    padding: 0 10px 0 6px;
    margin: auto;
}

.review-section .stars-counters td.star-num {
    color: #4a73e8;
}

.review-section {
    border-bottom: 1px solid #dadbdd;
    padding-bottom: 24px;
    margin-bottom: 34px;
    padding-top: 10px;
}
.review-section select, .review-section .select2-container {
    width: 188px !important;
    border-radius: 3px;
}

.helpful-thumbs, .helpful-thumb {
   display: flex;
   align-items: center;
   font-weight: 700;
}

.no-resize {
    resize: none;
}
