body {
    background-color: white !important;

}

.logo {
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
}

.search .searchBar {
    width: 350px;
}

.btnSearch
{
    background: black;
}

.btnSearch:hover
{
    background: gray;
}


.btnTaiKhoan a:hover {
    text-decoration: none;
    color: gray !important;
}

.btnGioHang a {
    text-decoration: none;
    color: #fff !important;
    font-weight: bold;
    font-size: 17px;
}

.btnGioHang a:hover {
    text-decoration: none;
    color: gray !important;
}

.menu ul li a{
    text-decoration: none;
    color: white !important;
    font-weight: bold;
    font-size: 17px;
}

.menu ul li a:hover{
    text-decoration: none;
    color: gray !important;
    background: dark;
}

@media(max-width: 991px) {
    .search .searchBar {
        width: 250px;
    }

    .btnTaiKhoan a:hover {
        text-decoration: none;
        color: gray !important;
    }

    .btnGioHang
    {
        margin-bottom: 20px;
    }

    .btnGioHang a {
        text-decoration: none;
        color: #fff !important;
        font-weight: bold;
        font-size: 17px;
    }

    .btnGioHang a:hover {
        text-decoration: none;
        color: gray !important;
    }

}

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.theloaiFilter
{
    font-size: 17.5px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.theloaiFilter:hover
{
    text-decoration: none;
    color: gray !important;
}

.sanphamName
{
    text-decoration: none;
    color: black;
}

.sanphamName:hover
{
    text-decoration: none;
    color: gray !important;
}

